{% import "_includes/forms" as forms %}

{% set cart = craft.commerce.carts.cart %}
{% set currentUrl = siteUrl(craft.app.request.getFullPath()) %}

{# get the status of afterpay #}
{% set isAfterpayUp = craft.spicyAfterpay.afterpayStatus() %}

{# get the order token from the URL or generate one #}
{% set orderToken = craft.app.request.getParam('orderToken') ?? craft.spicyAfterpay.getNewPaymentToken(cart, currentUrl) ?? null %}

{# get the token status (if returned) #}
{% set orderTokenStatus = craft.app.request.getParam('status') ?? null %}
{% set isCancelled = orderTokenStatus == 'CANCELLED' %}
{% set hasFlashError = craft.app.session.getFlash('error') %}
{% set errorContent %}
    {# if there was an error with afterpay #}
    <p class="sap-error">There was an issue communication with the Afterpay servers. Please try
        again later or with another method.</p>
{% endset %}

{# first check if afterpay is up. if not then return that it is unavaliable #}
{% if isAfterpayUp %}
    {# if we have the token #}
    {% if orderToken %}
        {# if we dont have the orderTokenStatus or if it has a status of cancelled then show the pay button #}
        {% if not orderTokenStatus or isCancelled or hasFlashError %}
            {# {% if isCancelled %} #}
            {# <p>You have cancelled the payment at afterpay, click pay below to try again.</p> #}
            {# {% endif %} #}
            {% if hasFlashError %}
                {% set orderToken = craft.spicyAfterpay.getNewPaymentToken(cart, currentUrl)%}
            {% endif %}
            <button id="spicy-afterpay" data-sw-afterpay-token="{{ orderToken }}"
                    data-sw-afterpay-cc="{{ gateway.region }}" disabled>Pay
            </button>
        {% else %}
            <input type="hidden" name="orderToken" value="{{ orderToken }}">
            <input type="hidden" name="status" value="{{ orderTokenStatus }}">
            <button id="spicy-afterpay-confirm">Confirm Payment</button>
        {% endif %}
    {% else %}
        {{ errorContent }}
    {% endif %}
{% else %}
    {{ errorContent }}
{% endif %}

